@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#FFE8D6, #B8D8E3);
  height: 100vh;
  display: flex;
  flex-direction: column;
}