/* index.css */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#FFE8D6, #B8D8E3);
  height: 100vh;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}